1. Fish Species Classification/Ignore/
2. Advanced Dimension Reduction MNIST/Ignore/
4. Bagging And Boosting On Genomic Data/Ignore/
5. Predicting House Prices in Brooklyn/Code/Geospatial/geospatial_data.csv
6. Cancer Classification With PCA, Feature Selection/Ignore/
Customer Classification (Classification)/data/
Customer Segmentation (Clustering)/data/
