# 1. ML Energy Data - large data files (not the app)
1. ML Energy Data/data/
1. ML Energy Data/building-energy-app/



2. Fish Species Classification/Ignore/
3. Advanced Dimension Reduction MNIST/Ignore/
5. Bagging And Boosting On Genomic Data/Ignore/
6. Predicting House Prices in Brooklyn/Code/Geospatial/geospatial_data.csv
7. Cancer Classification With PCA, Feature Selection/Ignore/
8. Customer Classification (Classification)/data/
9. Customer Segmentation (Clustering)/data/


6. Predicting House Prices in Brooklyn/Code/Geospatial/
*.safetensors
*.pt

